<div class="page-header">
    <h2>Reflex 360º <small></small></h2>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="#/admin/country">Países</a></li>
                <li><a href="#/admin/company">Empresas</a></li>
                <li><a href="#/admin/business_unit">Unidad de Negocios</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
                <div class="panel-heading"><h4>Nueva Empresa</h4></div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="country_id">País:</label>
                    <select id="country_id" class="form-control" ng-options="item.id as item.name for item in countries" ng-model="newCompany.country_id">
                        <option value="">Seleccionar País</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="code">Codigo:</label>
                    <input type="text" class="form-control" id="code" ng-model="newCompany.code">
                </div>
                <div class="form-group">
                    <label for="code">Nombre:</label>
                    <input type="text" class="form-control" id="name" ng-model="newCompany.name">
                </div>
                <div class="form-group">
                    <label for="description">Descripción:</label>

                    <textarea class="form-control" rows="3" id="description" ng-model="newCompany.description"></textarea>
                </div>

                <button class="btn btn-primary" type="button" ng-click="addCompany()">Grabar</button>

            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Pais</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="company in companies">
                    <td>{{company.id}}</td>
                    <td>{{company.code}}</td>
                    <td><b>{{company.name}}</b></td>
                    <td><b>{{company.country.name}}</b></td>
                    <td><button class="btn btn-danger glyphicon glyphicon-trash" type="button" ng-click="removeCompany(company)"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>