<div class="page-header">
    <h2>Reflex 360º <small></small></h2>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="#/admin/country">Países</a></li>
                <li><a href="#/admin/company">Empresas</a></li>
                <li><a href="#/admin/business_unit">Unidad de Negocios</a></li>
                <li><a href="#/admin/sub_business_unit">Sub U. de Negocios</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
                <div class="panel-heading"><h4>Nuevo País</h4></div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="code">Codigo:</label>
                    <input type="text" class="form-control" id="code" ng-model="newCountry.code">
                </div>
                <div class="form-group">
                    <label for="code">Nombre:</label>
                    <input type="text" class="form-control" id="name" ng-model="newCountry.name">
                </div>
                <div class="form-group">
                    <label for="currency">Moneda:</label>
                    <select  class="form-control" id="language" ng-model="newCountry.currency">
                        <option value="PEN">Soles</option>
                        <option value="DOL">Dolares</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="language">Idioma:</label>
                        <select  class="form-control" id="language" ng-model="newCountry.language">
                            <option value="ES">Español</option>
                            <option value="EN">English</option>
                        </select>
                </div>

                <div class="form-group">
                    <label for="description">Descripción:</label>

                    <textarea class="form-control" rows="3" id="description" ng-model="newCountry.description"></textarea>
                </div>

                <button class="btn btn-primary" type="button" ng-click="addCountry()">Grabar</button>

            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Moneda</th>
                    <th>Idioma</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="country in countries">
                    <td>{{country.id}}</td>
                    <td>{{country.code}}</td>
                    <td><b>{{country.name}}</b></td>
                    <td>{{country.currency}}</td>
                    <td>{{country.language}}</td>
                    <td><button class="btn btn-danger glyphicon glyphicon-trash" type="button" ng-click="removeCountry(country)"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>