<div class="page-header">
    <h2>Reflex 360º <small></small></h2>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="#/admin/country">Países</a></li>
                <li><a href="#/admin/company">Empresas</a></li>
                <li><a href="#/admin/business_unit">Unidad de Negocios</a></li>
                <li><a href="#/admin/sub_business_unit">Sub U. de Negocios</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
                <div class="panel-heading"><h4>Nueva Sub Unidad de Negocios</h4></div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="business_unit_id">Unidad de Negocio:</label>
                    <select id="business_unit_id" class="form-control" ng-options="item.id as item.name+' - '+item.company.code for item in businessUnits" ng-model="newSubBusinessUnit.business_unit_id">
                        <option value="">Seleccionar Unidad</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="code">Codigo:</label>
                    <input type="text" class="form-control" id="code" ng-model="newSubBusinessUnit.code">
                </div>
                <div class="form-group">
                    <label for="code">Nombre:</label>
                    <input type="text" class="form-control" id="name" ng-model="newSubBusinessUnit.name">
                </div>
                <div class="form-group">
                    <label for="description">Descripción:</label>

                    <textarea class="form-control" rows="3" id="description" ng-model="newSubBusinessUnit.description"></textarea>
                </div>

                <button class="btn btn-primary" type="button" ng-click="addSubBusinessUnit()">Grabar</button>

            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Unidad Negocio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subBusinessUnit in subBusinessUnits">
                    <td>{{subBusinessUnit.id}}</td>
                    <td>{{subBusinessUnit.code}}</td>
                    <td><b>{{subBusinessUnit.name}}</b></td>
                    <td><b>{{subBusinessUnit.business_unit.name}} - {{subBusinessUnit.business_unit.company.code}}</b></td>
                    <td><button class="btn btn-danger glyphicon glyphicon-trash" type="button" ng-click="removeSubBusinessUnit(subBusinessUnit)"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>