<div class="page-header">
    <h2>Reflex 360º <small></small></h2>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="#/admin/country">Países</a></li>
                <li><a href="#/admin/company">Empresas</a></li>
                <li><a href="#/admin/business_unit">Unidad de Negocios</a></li>
                <li><a href="#/admin/sub_business_unit">Sub U. de Negocios</a></li>
                <li><a href="#/admin/zone">Zonas</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Nueva Zona</h4></div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="company_id">Empresa:</label>
                    <select id="company_id" class="form-control" ng-options="item.id as item.name for item in companies" ng-model="newZone.company_id">
                        <option value="">Seleccionar Empresa</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="region_id">Region:</label>
                    <select id="region_id" class="form-control" ng-options="item.id as item.name for item in regions" ng-model="newZone.region_id">
                        <option value="">Seleccionar Región</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="region_id">Unidad de Negocio:</label>
                    <select id="region_id" class="form-control" ng-options="item.id as item.name for item in businessUnits" ng-model="newZone.business_unit_id">
                        <option value="">Selecciona Unidad de Negocio</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="code">Codigo:</label>
                    <input type="text" class="form-control" id="code" ng-model="newZone.code">
                </div>
                <div class="form-group">
                    <label for="code">Nombre:</label>
                    <input type="text" class="form-control" id="name" ng-model="newZone.name">
                </div>
                <div class="form-group">
                    <label for="hidden_name">Nombre Proximo:</label>
                    <input type="text" class="form-control" id="hidden_name" ng-model="newZone.hidden_name">
                </div>
                <div class="form-group">
                    <label for="qty_doctors">Cant Medicos:</label>
                    <input type="number" class="form-control" id="qty_doctors" ng-model="newZone.qty_doctors">
                </div>
                <div class="form-group">
                    <label for="qty_contacts_am">Cant Medicos AM:</label>
                    <input type="number" class="form-control" id="qty_contacts_am" ng-model="newZone.qty_contacts_am">
                </div>
                <div class="form-group">
                    <label for="qty_contacts_pm">Cant Medicos PM:</label>
                    <input type="number" class="form-control" id="qty_contacts_pm" ng-model="newZone.qty_contacts_pm">
                </div>
                <div class="form-group">
                    <label for="qty_contacts_vip">Cant Medicos VIP:</label>
                    <input type="number" class="form-control" id="qty_contacts_vip" ng-model="newZone.qty_contacts_vip">
                </div>
                <div class="form-group">
                    <label for="qty_available_days">Cant Dias Permitidos:</label>
                    <input type="number" class="form-control" id="qty_available_days" ng-model="newZone.qty_available_days">
                </div>
                <div class="form-group">
                    <label for="vacancy">Vacante:</label>
                    <select id="vacancy" class="form-control" ng-model="newZone.vacancy">
                        <option value="1">SI</option>
                        <option value="0">NO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="active">Activo:</label>
                    <select id="active" class="form-control" ng-model="newZone.active">
                        <option value="1">SI</option>
                        <option value="0">NO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Descripción:</label>

                    <textarea class="form-control" rows="3" id="description" ng-model="newZone.description"></textarea>
                </div>

                <button class="btn btn-primary" type="button" ng-click="addZone()">Grabar</button>

            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Pais</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="zone in zones">
                <td>{{zone.id}}</td>
                <td>{{zone.code}}</td>
                <td><b>{{zone.name}}</b></td>
                <td><b>{{zone.company.name}}</b></td>
                <td><button class="btn btn-danger glyphicon glyphicon-trash" type="button" ng-click="removeZone(zone)"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>